.personalInfoForm {
  padding: 10px;
  border: 3px solid orangered;
  border-radius: 15px;
  text-align: center;
  color: white;
}
.personalFormInputs {
  display: flex;
  flex-wrap: wrap;
}
.personalInfoForm p {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  text-align: left;
  align-items: center;
  padding: 10px;
  margin: 5px;
  width: calc(50% - 10px);
}

.personalInfoForm input {
  height: 40px;
  font-size: 20px;
  width: 70%;
  padding: 5px;
  background-color: transparent;
  border: 1px solid red;
  color: white;
  outline: none;
  transition: box-shadow 200ms, scale 200ms;
}
.personalInfoForm input:focus {
  box-shadow: 0px 0px 15px red;
  scale: 1.05;
}
@media screen and (max-width: 1000px) {
  .personalInfoForm p {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .personalInfoForm {
    padding: 5px;
  }
  .personalInfoForm p {
    font-size: 16px;
    padding: 5px;
    margin: 0px;
  }
}
