*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --accent-color: rgb(184, 255, 149);
}
body{
    background-color: var(--accent-color);
}
#root{
    max-width: 1000px;
    margin-inline: auto;
    margin-top: 5vh;
    box-shadow: 0px 0px 20px 1px black;
    background-color: white;
}
h1{
    text-align: center;
    background-color: rgba(10, 10, 10, 0.879);
    color: white;
    padding: 10px 0px;
    font-size: 36px;
    border-bottom: 5px solid var(--accent-color);
}
h2{
    font-size: 24px;
}
.personalInfo-section{
    padding: 20px 50px;
}
.personalInfo-section li{
    line-height: 30px;
    font-size: 19px;
}
ul{
    margin: 5px;
    list-style: none;
}
.editButton{
    padding: 7px 20px;
    cursor: pointer;
    background-color: white;
    border: 5px solid var(--accent-color);
    border-radius: 33px;
    font-size: 18px;
    transition: background-color 200ms, color 200ms, box-shadow 200ms;
}
.editButton:hover{
    color: white;
    background-color: var(--accent-color);
    box-shadow: 0px 0px 10px var(--accent-color);
}